@model SchoolManagementSystem.Models.addStudentModel
@using SchoolManagementSystem.Models;

@{

    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

}
        <!-- Header -->
        <!-- Header -->
       <div class="header bg-primary pb-6" style="overflow-x: auto; background-color: #e0d8d8">
    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
        <li class="breadcrumb-item"><a href="#" style="color: black ;"><b>Dashboards</b></a></li>
    </ol>
           <input type="button" class="btn btn-fill add-teacher text-white" value="Delete" id="delete-class-btn" onclick="deletestudent()" />
           <button type="button" class="btn btn-fill add-teacher text-white" data-toggle="modal" data-target="#AddStudentModal">Add Student</button>
           <table class="table table-striped mt-7" style=" color: black; font-size: 18px; text-align: center;">
               <thead style="background: #d68f37; color: white;">
                   <tr>
                       <th><input type="checkbox" id="headercheck" name="chk" onclick="selects()"></th>
                       <th scope="col">#</th>
                       <th scope="col">Roll Number</th>
                       <th scope="col">Student Name</th>
                       <th scope="col">Father Name</th>
                       <th scope="col">Current Class</th>
                       <th scope="col">School Addmission Date</th>
                       <th scope="col">School Leaving Date</th>

                       <th scope="col">Modify</th>

                   </tr>
               </thead>
               <tbody id="record" style=" font-size: 15px; text-align: center;">

                   @foreach (System.Data.DataRow row in DbHandler.getStudents().Rows)
                   {

                       <tr>
                           <td><input type="checkbox" id="@row[0].ToString()" name="chk"></td>
                           <td>@row[0].ToString()</td>
                           <td class="txt-oflo">@row[1].ToString()</td>
                           <td>@row[2].ToString()</td>
                           <td class="txt-oflo">@row[3].ToString()</td>
                           <td class="txt-oflo">@row[4].ToString()</td>
                           <td class="txt-oflo">@row[5].ToString()</td>
                           <td class="txt-oflo">@row[6].ToString()</td>

                           <td><input type="button" id="@row[0]" onclick="get(@Convert.ToInt32(row[0]),'@row[1].ToString()','@row[2].ToString()','@row[3].ToString()','@row[6].ToString()')" class="btn btn-fill add-teacher text-white" data-toggle="modal" data-target="#myModal" value="Edit" /></td>

                       </tr>}
               </tbody>
           </table>

</div>



        <script>
            

            function get(id, rollNo, name, fName,classI , lDate) {
              
                document.getElementById("Editstudentid").value = id;
                document.getElementById("editstudentname").value = name; 
                document.getElementById("editfathername").value = fName;
                document.getElementById("editrollNo").value = rollNo;
                
                document.getElementById("leavingDate").value = lDate;
                
              //  $('#classId option[value="' + classI + '"]').attr("selected", "selected");

            }
        </script>



        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.1.min.js"></script>
        <script type="text/javascript">

            function deletestudent() {
                var IdArray = new Array();
                $("input:checkbox[name=chk]:checked").each(function () {
                    IdArray.push($(this).attr("id"));
                    //alert("Id: " + $(this).attr("id") + " Value: " + $(this).val());
                });

                $.ajax({
                    type: "POST",
                    traditional: true,
                    url: "../Home/DeleteStudent",
                    data: { studentIds: IdArray },

                    success: function (response) {
                        window.location = "../Home/student";
                    }
                });


            }


        </script>


        <!-- Footer -->
      

    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="../assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="../assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="../assets/js/argon.js?v=1.2.0"></script>

    <!------------------------------------------------------->



    <link href="~/Content/modal.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <div class="container">
        <!-- Trigger the modal with a button -->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    @*<div class="modal-header">

                            <h4 class="modal-title">Add Student</h4>
                        </div>*@
                    <div class="modal-body" style="background-color:#e0d8d8;">
                        <!-- Chekkkkk-->
                        @using (Html.BeginForm("editstudent", "Home", FormMethod.Post))
                        {
                            <div class="alert alert-outline-dark" role="alert">
                                <h4 class="alert-heading" style="color: #d68f37; font-size: 20px;"><center>Edit Student</center></h4>
                            </div>

                            <div class=" form-group row">

                                <div class="col-sm-9 center">
                                    @Html.HiddenFor(u => u.student_id, new { @type = "hidden", @class = "form-control", @id = "Editstudentid", @Name = "studentId" })
                                    @Html.TextBoxFor(u => u.Student_name, new { @type = "text", @class = "form-control", @id = "editstudentname", @placeholder = "Name", @Name = "sName", @required = "required" })

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9 center">
                                    @Html.TextBoxFor(u => u.father_name, new { @type = "text", @class = "form-control", @id = "editfathername", @placeholder = "Father Name", @Name = "FatherName", @required = "required" })

                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-sm-9 center">
                                    @Html.TextBoxFor(u => u.roll_no, new { @type = "text", @class = "form-control", @id = "editrollNo", @placeholder = "Student Roll Number", @Name = "RollNo", @required = "required" })

                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-sm-9 center">

                                    @Html.DropDownList("ListClass", ViewBag.ListClass as SelectList, "---Select Class---", new { @class = "form-control", @id = "EclassId", @Name = "EclassId", @required = "required" })

                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-9 center">
                                    @Html.TextBoxFor(u => u.leaving_date, new { @type = "datetime-local", @class = "form-control", @id = "leavingDate", @placeholder = "Leaving Date", @Name = "leavingDate" })
                                </div>
                            </div>


                            <div class="modal-footer">
                                <input type="submit" class="btn btn-outline-dark btn-lg btn-block text-white" value="Edit Student" />
                            </div>
                        }



                        <!-- Chekkkkk-->


                    </div>

                </div>
            </div>

        </div>
        </div>

        <!------------------------------>
        <!------------------------------------------------------->






        <div class="container">
            <!-- Trigger the modal with a button -->
            <!-- Modal -->
            <div class="modal fade" id="AddStudentModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        @*<div class="modal-header">

                                <h4 class="modal-title">Add Student</h4>
                            </div>*@
                        <div class="modal-body" style="background-color:#e0d8d8;">
                            <!-- Chekkkkk-->
                            @using (Html.BeginForm("addStudent", "Home", FormMethod.Post))
                            {
                                <div class="alert alert-outline-dark" role="alert">
                                    <h4 class="alert-heading" style="color: #d68f37; font-size: 20px;"><center>Add Student</center></h4>
                                </div>

                                <div class=" form-group row">

                                    <div class="col-sm-9 center">
                                        @Html.TextBoxFor(u => u.Student_name, new { @type = "text", @class = "form-control", @id = "inputstudentname", @placeholder = "Name", @required = "required" })

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 center">
                                        @Html.TextBoxFor(u => u.father_name, new { @type = "text", @class = "form-control", @id = "inputfathername", @placeholder = "Father Name", @required = "required" })

                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-sm-9 center">
                                        @Html.TextBoxFor(u => u.roll_no, new { @type = "text", @class = "form-control", @id = "inputrollNo", @placeholder = "Student Roll Number", @required = "required" })

                                    </div>
                                </div>

                                <div class="form-group row ">
                                    <div class="col-sm-9 center">

                                        @Html.DropDownList("ListClass", ViewBag.ListClass as SelectList, "---Select Class---", new { @class = "form-control", @required = "required" })

                                    </div>
                                </div>

                                @*<div class="form-group row ">

                    <div class="col-sm-9 center">
                        @Html.TextBox("cal",null, new { @type = "datetime-local", @class="form-control" , @id="inputPassword" , @placeholder="Admission Date"})
                    </div>
                </div>*@

                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-outline-dark btn-lg btn-block text-white" value="Add Student" />
                                </div>
                            }

                            <!-- Chekkkkk-->


                        </div>

                    </div>
                </div>

            </div>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#txtsearch").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#record tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>

        <script type="text/javascript">

            function selects() {
                var ele = document.getElementsByName('chk');
                var headercheck = document.getElementById('headercheck');
                var check = headercheck.checked;
                for (var i = 0; i < ele.length; i++) {
                    if (check == true) {
                        ele[i].checked = true;
                    }
                    else {
                        ele[i].checked = false;

                    }

                }
            }


        </script>






